body {
    background-color: rgb(67, 190, 238);
}
.float {
    text-align: center;
    background-color: rgb(98, 231, 116);
    padding: 5px;
}
.docs {
    text-align: center;
    background-color: yellow;
    padding: 5px;
}
.head {
    text-align: center;
    background-color: yellow;
    padding: 5px;
}
.bg-1{
    background-color: violet;
    border-style: inset;
    padding: 70px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.body{
    text-align: center;
    background-color: yellow;
    margin-top: 5px;
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
    border-style: inset;
}
.bg-2{
    background-color: rgb(98, 231, 116);
    margin: 10px;
    border-style: inset;
}
.wrapper{
    text-align: center;
    background-color: yellow;
    margin-top: 5px;
    padding: 5px;
    border-style: inset;
    margin-left: 20%;
    margin-right: 20%;
}
.bg-3{
    background-color: rgb(243, 226, 253);
    margin: 10px;
    border-style: inset;
}
.container1{
    text-align: center;
    background-color: yellow;
    border-style: inset;
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
}
.bg-4{
    background-color: blanchedalmond;
    margin: 10px;
    border-style: inset;
    padding: 2px 2px 2px 2px;
}
.header{
    text-align: center;
    background-color: yellow;
    margin-left: 40%;
    margin-right: 40%;
    border-style: inset;
}
.bg-5{
    background-color: rgb(206, 136, 247);
    margin: 10px;
    border-style: inset;
    padding: 2px 2px 2px 2px;
}
.navigation{
    text-align: center;
    background-color: yellow;
    padding: 5px;
    margin: 10px;
    border-style: inset;
    padding: 2px 2px 2px 2px;
}
.content-background{
    background-color: rgb(181, 227, 245);
    margin: 10px;
    border-style: inset;
    padding: 2px 2px 2px 2px;
}
.bg-6{
    background-color: yellow;
    margin: 10px;
    border-style: inset;
    padding: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.container2{
    margin: 10px;
    text-align: center; 
}
.content{
    text-align: center;
    width: 40%;
    float:left;
    background-color: azure;
    border-style: inset;
    height: 40px;
    padding: 2px;
}
.float-right{
    text-align: center;
    background-color: azure;
    border-style: inset;
    width: 40%;
    height:40px;
    float:right;
}
.close-container{
    text-align: center;
}
.bg-7{
    background-color: cornsilk;
    margin: 10px;
    border-style: inset;
    padding: 2px 2px 2px 2px;
}
.footer{
    text-align: center;
    background-color: yellow;
    padding: 5px;
    border-style: inset;
    margin-left: 20%;
    margin-right: 20%;
}
.close-container1{
    text-align: center;
    background-color: yellow;
    padding: 5px;
    border-style: inset;
    margin-left: 20%;
    margin-right: 20%;
}
.close-wrapper{
    text-align: center;
    background-color: yellow;
    padding: 5px;
    border-style: inset;
    margin-left: 20%;
    margin-right: 20%;
}
.close-body{
    text-align: center;
    background-color: yellow;
    border-style: inset;
    width: 40%;
    height:40px;
    float:left;
    margin-left: 5px;
}
.close-document{
    text-align: center;
    background-color: yellow;
    border-style: inset;
    width: 40%;
    height:40px;
    float:right;
    margin-right: 5px;
}
